 h1 {
    font-size: calc(3em + 4vw);
    line-height: 1.1;
    font-family: system-ui;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  
  p {
    font-family: "Dank Mono", ui-monospace, monospace;
  }

  .decrement-increment-button{
    background: 
      white; 
    font-family: system-ui;
    margin-right: 1rem;
  }

  .draw-path-button{
    background: 
    rgb(255, 255, 255); 
  font-family: system-ui;
  margin-left: 1rem;
  }
  
  footer{
    margin: 2rem;
    margin-bottom: 0rem;
    font-family: "Dank Mono", ui-monospace, monospace;
  }

  input { 
    text-align: center;
    border: 1px solid #ccc;
}

span{
  font-weight: 300;
}